<!doctype html>
<html>
<link rel="stylesheet" href="/static/styles.css">

<head>
    <meta charset="utf-8">
    <title>Forums Workshop</title>
</head>

<body>

    <div class="centered-item">
        <h1>OneMillion</h1>
    </div>

        <table>

            <tbody>
            <tr>
                <td>
                    {{posts.title}}
                </td>
				<td>
					{{posts.content}}
				
				</td>

                <td>
                    <a href="#">edit</a>
                </td>

                <td>
                    <a href="#">delete</a>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>

</body>
<footer><h4>Done By: Ibrahim Nassoura</h4></footer>

</html>
